#controls {
  margin: 0 auto;
  height: 40px;
  width: 30%;
}

#container {
  margin: auto;
  width: 480px;
  height: 480px;
}

.gridSquare {
  display: table-cell;
  vertical-align: middle;
  outline: 1px solid #000;
}
