#controls {
  margin: 0 auto;
  height: 40px;
  width: 30%;
}

#container {
  margin: auto;
  width: 500px;
}

.gridsquare {
  border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
